.settings
logs/*.log
settings.xml
.netbeans
tests/results/*
modules/*
!modules/contentbox-s3-filebrowser
modules/contentbox-s3-filebrowser/modules/*
coldbox/*
testbox/*
artifacts/*
apidocs/docbox/*
workbench/build.number
workbench/docker
build/*
contentbox-*