.settings
logs/*.log
tests/logs
includes/tmp
settings.xml
.netbeans
tests/results/*
modules/contentbox-installer
modules/contentbox-dsncreator
modules/contentbox-s3-filebrowser/modules/*
coldbox/*
testbox/*
artifacts/*
apidocs/docbox/*
workbench/build.number
workbench/docker
build/*